.App {
  display: grid;
  grid-template-columns: 250px 1fr 250px; /* Left sidebar, video area, right sidebar */
  height: 100vh; /* Full height of the viewport */
}

.logo {
  width: 120%; /* Adjusts the width to 80% of its parent container */
  height: auto; /* Maintains the aspect ratio */
}

.sidebar {
  /* background-color: #f4f4f4; */
  display: flex;
  flex-direction: column;
  justify-content: start; /* Adjust if you want different vertical alignment */
  align-items: center;
  height: 100%; /* Makes sidebar take full height of its grid area */
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 10px 0;
}
