body{
  margin: 0;
  color: white;
  font-family: inter;
}

.App {
  display: grid;
  background-color: #18191E;
  height: 100vh;
}

.mainContainer{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.videoContainer{
  max-width: 120vh;
}

.navBar{
  display: flex;
  align-items: center;
  max-height: 10vh;
  margin-top: 2rem;
}

.logo{
  width: 7rem;
  height: 7rem;
  margin: 2rem;
}

.text{
  font-size: 2rem;
  font-weight: 700;
}


.btnContainer{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.personalityContainer,
.exerciseContainer{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 10rem;
}