.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px red solid;
    gap: 2rem;
}

.btnContainer{
    display: flex;
    gap: 10rem;
}